@font-face {
    font-family: "Cafe24Supermagic-Bold-v1.0";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

body {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    background: #FFF;
    margin: 0px;
}

nav {
    display: flex;
    box-sizing: border-box;
    width: 1366px;
    padding: 0px 200px 0px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.container {
    display: flex;
    height: 100px;
    align-items: center;
    gap: 40px;
}

.nav-item {
    color: #403930;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

header {
    display: flex;
    width: 1366px;
    box-sizing: border-box;
    padding: 100px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box {
    width: 1120px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    gap: 200px;
}

.mainheader {
    display: flex;
    width: 556.001px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}

.positionrelative {
    position: relative;
}

.iconfav {
    position: absolute;
    bottom: 50px;

}

.mainheadtext {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 10px;
    background: #E6EEFF;
    color: #000;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 40px;
}

.maintext1 {
    width: 550px;
    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1.28px;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.maintext2 {
    width: 550px;
    color: #333;
    font-family: Pretendard;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -1.28px;
    background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.buttons {
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.leftbutton {
    display: flex;
    width: 150px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 4px solid black;
    background: #000;
}

.rightbutton {
    display: flex;
    width: 150px;
    padding: 24px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 16px;
    border: 4px solid #403930;
}

.leftbuttondetails {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #E6EEFF;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.rightbuttondetails {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.rightimage {
    display: flex;
    width: 355.624px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 500px;
    border: 10px solid #BCF2F9;
    background: url(./nina-zeynep-guler-8_azHm6L_tc-unsplash.jpg), lightgray 50% / cover no-repeat;
    background-size: cover;
}

.aboutme {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sectionframe {
    display: flex;
    box-sizing: border-box;
    width: 1366px;
    padding: 100px 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
}

.sectionmain {
    display: flex;
    width: 1120px;
    /* height: 300px; */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.sectiontext1 {
    color: #000;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.8px;
}

.sectiontext2 {
    /* height: 172px; */
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    color: #333;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.tech {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 100px 120px;

}

.techgroup {
    width: 1120px;
    flex-shrink: 0;
}

.techsection {
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: center;
    gap: 80px;
}

.techmainhead {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.techtitle {
    color: #000;
    text-align: center;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: -0.8px;
}

.techcontent {
    color: #333;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.techmaincontent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.techmainfirst {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 80px;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* gap: 80px; */
}

.techdetails {
    width: 112px;
    height: 112px;
}

.project {
    display: flex;
    width: 1360px;
    box-sizing: border-box;
    padding: 80px 120px 120px 120px;
    justify-content: center;
    align-items: center;
    background: rgba(244, 244, 244, 0.50);
}

.projectgroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}

.promainhead {
    display: flex;
    padding: 8px;
    align-items: flex-start;
    gap: 10px;
}

.promainheadtext {
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.8px;
}

.procontent {
    display: flex;
    width: 1120px;
    flex-direction: column;
    align-items: flex-start;
    gap: 28px;
}

.procontentframe {
    display: flex;
    width: 1120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 24px;
    background: #E6EEFF;
}

.contentright {
    display: flex;
    padding-left: 40px;
    align-items: center;
    gap: 40px;
    align-self: stretch;
}

.contentrightbox {
    display: flex;
    width: 437px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.contentrightboxmain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.protitle {
    color: #403930;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
}

.promaindetail {
    align-self: stretch;
    color: #403930;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
}

.promainlinks {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.prolinksdetails1 {
    color: #405BA1;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-decoration-line: underline;
}

.prolinksdetails2 {
    color: #00446A;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.5;
    text-decoration-line: underline;
}

.contentleftbox {
    flex: 1 0 0;
    height: 400px;
}


.contentimggroup {
    display: flex;
    padding-top: 35px;
    width: 507.099px;
    flex-shrink: 0;
    gap: 40px
}

.proimg {
    width: 155.099px;
    height: 327.965px;
    flex-shrink: 0;
    border-radius: 16.08px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
}

.feedback {
    display: flex;
    width: 1360px;
    padding: 80px 0px 120px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedbackframe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.feedbacktitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #403930;
    font-family: Pretendard;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -0.8px;
}

.feedbackcontainer {
    display: flex;
    width: 1120px;
    align-items: center;
    gap: 94px;
    overflow: auto;
    padding-bottom: 20px;
}

.feedbackgroup {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.feedbackbox {
    display: flex;
    width: 460px;
    height: 264px;
    padding: 0px 39px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    background: #FAFAFA;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
}

.feedbackcontent {
    width: 391px;
    color: #403930;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}

.feedbackname {
    width: 361px;
    color: #403930;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
}

.vision {
    display: flex;
    width: 1366px;
    padding: 64px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #E6EEFF;
}

.visionframe {
    display: flex;
    width: 1120px;
    justify-content: center;
    align-items: center;
    gap: 34px;
}

.visiontext {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 56px;
    flex: 1 0 0;
    align-self: stretch;
    color: #403930;
    font-family: Pretendard;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: -0.96px;
}

.enterspace1 {
    display: none;
}

.enterspace2 {}

footer {
    width: 1366px;
}

.lastbox {
    text-align: center;
    width: 1366px;
    height: 182px;
    flex-shrink: 0;
    background: #FAFAFA;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactdial {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 35px;

}

.facebook {
    width: 30px;
    height: 30px;
    fill: var(--Dark);
}

.insta {
    width: 30px;
    height: 30px;
}

.linked {
    width: 30px;
    height: 30px;
    fill: var(--Dark);
}

.copyright {
    align-content: center;
    width: 222.979px;
    color: var(--Dark);
    text-align: center;
    font-family: Heebo;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactmebox {
    position: fixed;
    bottom: 100px;
    right: 60px;
    width: 165px;
    height: 88px;
    flex-shrink: 0;
}

.contactme {
    display: flex;
    ;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 88px;
    flex-shrink: 0;
    border-radius: 50px;
    border: 10px solid #BBD5F7;
    background: linear-gradient(98deg, #BED3FF -10.83%, #D2F3E5 51.79%, #FFEBD9 110.76%);
    color: rgba(64, 57, 48, 0.80);
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.typing-demo {
    animation: typing 1s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

.blink-demo {
    animation: blink1 1s infinite;

}

@keyframes blink1 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}