@media (max-width:390px) {
    .contactmebox {
        display: none;
    }

    nav {
        display: flex;
        width: 390px;
        box-sizing: border-box;
        padding: 0px 20px;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;
        gap: 32px;
    }

    .container {
        display: flex;
        height: 60px;
        align-items: center;
        gap: 32px;
    }

    .nav-item {
        color: #403930;
        font-family: Pretendard;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    header {
        display: flex;
        width: 390px;
        box-sizing: border-box;
        height: fit-content;
        padding: 30px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }

    .box {
        display: flex;
        width: 390px;
        box-sizing: border-box;
        padding: 20px 10px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;
    }

    .mainheader {
        width: 390px;
        box-sizing: border-box;
        padding: 20px 10px;
        gap: 10px;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mainheadtext {
        display: flex;
        padding: 8px 15px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 10px;
        background: #E6EEFF;
        color: #000;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .maintext1 {
        width: auto;
        align-self: stretch;
        color: #333;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.64px;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .maintext2 {
        width: auto;
        align-self: stretch;
        color: #333;
        font-family: Pretendard;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: -0.64px;
        background: linear-gradient(99deg, #001F8F 3.58%, rgba(36, 255, 203, 0.50) 90.34%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .buttons {
        display: flex;
        align-items: flex-start;
        gap: 16px;
    }

    .leftbutton {
        display: flex;
        width: 120px;
        box-sizing: border-box;
        padding: 16px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        background: #000;
        border: 1px solid black;
    }

    .leftbuttondetails {
        color: #FFF;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .rightbutton {
        display: flex;
        width: 120px;
        padding: 16px 20px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 16px;
        border: 1px solid #403930;
    }

    .rightbuttondetails {
        color: #403930;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .rightimage {
        display: none;
    }

    .aboutme {
        display: flex;
        width: 390px;
        flex-direction: column;
        align-items: flex-start;

    }

    .sectionframe {
        display: flex;
        width: 390px;
        box-sizing: border-box;
        padding: 40px 35px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;
        background: linear-gradient(96deg, rgba(189, 210, 255, 0.40) 1.72%, rgba(116, 224, 215, 0.40) 158.93%);
    }

    .sectionmain {
        display: flex;
        width: 320px;
        box-sizing: border-box;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 15px;
        flex-shrink: 0;
    }

    .sectiontext1 {
        align-self: stretch;
        color: #333;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.36px;
    }

    .iconfav {
        width: 40px;
        height: 40px;
        bottom: 20px;
    }

    .sectiontext2 {
        align-self: stretch;
        color: #333;
        font-family: Pretendard;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: -0.28px;
    }

    .tech {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 40px 0px;
    }

    .techgroup {
        width: 390px;
        flex-shrink: 0;
    }

    .techsection {
        display: flex;
        width: 390px;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }

    .techmainhead {
        display: flex;
        padding-left: 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .techtitle {
        color: #000;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.48px;
    }

    .techcontent {
        text-align: start;
        align-self: stretch;
        color: #333;
        font-family: Pretendard;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;

    }

    .techmaincontent {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        align-self: stretch;
    }

    .techmainfirst {
        width: 360px;
        box-sizing: border-box;
        padding-left: 20px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        /* display: flex; */
        justify-content: center;
        align-items: center;
        /* gap: 8px; */
        align-self: stretch;
    }

    .techdetails {
        width: 70px;
        height: 70px;

    }

    .project {
        display: flex;
        width: 390px;
        padding: 60px 24px;
        justify-content: center;
        align-items: center;
        background: rgba(244, 244, 244, 0.50);
    }

    .projectgroup {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        flex: 1 0 0;
    }

    .promainhead {
        display: flex;
        padding: 8px;
        align-items: flex-start;
        gap: 10px;
    }

    .promainheadtext {
        color: #403930;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        letter-spacing: -0.48px;
    }

    .procontent {
        box-sizing: border-box;
        display: flex;
        width: auto;
        padding: 24px 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        border-radius: 16px;
        background: #E6EEFF;
    }

    .procontentframe {
        display: flex;
        width: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 24px;
        background: #E6EEFF;
    }

    .contentright {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 40px;
        padding: 0px;
        align-self: stretch;
    }

    .contentrightbox {
        display: flex;
        width: 310px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
    }

    .contentrightboxmain {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        gap: 1px;
    }

    .protitle {
        color: #403930;
        font-family: Pretendard;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
    }

    .promaindetail {
        align-self: stretch;
        color: #403930;
        font-family: Pretendard;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.5;
    }

    .promainlinks {
        display: flex;
        align-items: flex-start;
        gap: 24px;
    }

    .prolinksdetails1 {
        color: #0F5BA1;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
    }

    .prolinksdetails2 {
        color: #0F5BA1;
        font-family: Pretendard;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.5;
        text-decoration-line: underline;
    }

    .contentleftbox {
        align-self: stretch;
    }

    .contentimggroup {
        display: flex;
        padding-top: 10px;
        width: auto;
        flex-shrink: 0;
        gap: 20px
    }

    .proimg {
        width: 94.815px;
        height: 202.497px;
        flex-shrink: 0;
        border-radius: 16.08px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    }

    .feedback {
        display: flex;
        width:390px;
        padding: 60px 24px;
        flex-direction: column;
    justify-content: center;
    align-items: center;
        align-self: stretch;
    }

    .feedbackframe {
        display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 40px;
align-self: stretch;
    }

    .feedbacktitle {
        display: flex;
flex-direction: column;
align-items: center;
gap: 8px;
color: #403930;
font-family: Pretendard;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 26px;
letter-spacing: -0.48px;
    }

    .feedbackcontainer {
        display: flex;
        flex-direction: column;
        width:auto;
padding: 0px 20px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
overflow:unset;
    }

    .feedbackgroup {
        display: flex;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .feedbackbox {
        display: flex;
width:300px;
height:190px;
padding: 24px 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 16px;
align-self: stretch;
border-radius: 10px;
background: #FAFAFA;
box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    }

    .feedbackcontent {
        width:auto;
        align-self: stretch;
color: #403930;
font-family: Pretendard;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 1.5;
    }

    .feedbackname {
        width:auto;
        align-self: stretch;
color: #1866AF;
text-align: right;
font-family: Pretendard;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 25px;
    }

    .vision {
        display: flex;
        width: 1366px;
        padding: 64px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        background: #E6EEFF;
    }

    .visionframe {
        display: flex;
        width: 1120px;
        justify-content: center;
        align-items: center;
        gap: 34px;
    }

    .visiontext {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 56px;
        flex: 1 0 0;
        align-self: stretch;
        color: #403930;
        font-family: Pretendard;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: -0.96px;
    }

    footer {
        display: flex;
        width: 390px;
        padding: 40px 0px;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        align-self: stretch;
        background: #FAFAFA;
    }

    .lastbox {
        text-align: center;
        width: 390px;
        height: auto;
        flex-shrink: 0;
        background: #FAFAFA;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .contactdial {
        display: inline-flex;
        justify-content: center;
        align-items: flex-start;
        gap: 10px;

    }

    .facebook {
        width: 30px;
        height: 30px;
        fill: var(--Dark);
    }

    .insta {
        width: 30px;
        height: 30px;
    }

    .linked {
        width: 30px;
        height: 30px;
        fill: var(--Dark);
    }

    .copyright {
        align-content: center;
        /* align-self: stretch; */
        color: var(--Dark);
        text-align: center;
        font-family: Heebo;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}